<html>
    <head>
        <title>Reset Form (used for client-side tests)</title>

        {{>common-includes}}

        <!-- Bring in client library being tested -->
        <script type="text/javascript" src="/js/client/reset.js"></script>
    </head>
    <body>
        <!-- Sample reset form with all required markup -->

        <div class="row">
            <div class="column small-offset-4 small-4 reset-viewport">
                {{>reset-form}}
            </div>
        </div>

        <!-- configure and instantiate our module -->
        <script type="text/javascript">
            var reset = gpii.express.couchuser.frontend.reset("body", {
                components: {
                    templates: {
                        options: {
                            model: {
                                "templateUrl": "/hbs"
                            }
                        }
                    }
                }
            });

            $(document).foundation();
        </script>
    </body>
</html>




