<form class="login-form" method="POST">
    <label for="username">Username:</label>
    <input id="username" type="text" tabindex="1" name="username" placeholder="Enter your username...">

    <label for="password">Password:</label>
    <input id="password" type="password" tabindex="2" name="password">

    <input type="submit" tabindex="3" class="login-button" value="Log In">
</form>