{{#if req.params.code}}
    <div class="reset-message">
        <p>Use the form below to reset your password.</p>
    </div>

    <form class="reset-form" method="POST">
        <input type="hidden" name="code" value="{{req.params.code}}"/>

        <label for="password">New Password:</label>
        <input id="password" type="password" tabindex="3" name="password">

        <label for="confirm">Retype Password:</label>
        <input id="confirm" type="password" tabindex="4" name="confirm">

        <input type="submit" tabindex="5" class="button reset-button" value="Reset Password">
    </form>
{{else}}
    <div class="reset-message">
        <div data-alert class="alert-box alert">
            <p>You have attempted to use an expired or invalid password reset code.  Please <a href="forgot">use the &quot;forgot password&quot; form to request a new reset code</a>.</p>
        </div>
    </div>

    <div class="reset-form"></div>
{{/if}}
